<div class="contact-container mat-typography">

  <div class="team-section" *ngIf="subdomainService.isSpecialSubdomain(); else checkCampaign">
    <h2 class="team-title">Meet Our Team</h2>

    <div class="team-grid">
      <!-- Team Member 1 -->
      <div class="team-member">
        <div class="member-image">
          <img src="assets/photos/userphoto.png" alt="Team Member 1">
        </div>
        <h3>Mehrab Monjur</h3>
        <p class="info">information</p>
        <p class="contact-info">
          Email: monjur_99@yahoo.com<br>
          Phone: (408) 857-2217
        </p>
      </div>

      <!-- Team Member 2 -->
      <div class="team-member">
        <div class="member-image">
          <img src="assets/photos/userphoto.png" alt="Team Member 2">
        </div>
        <h3>Prianka Hasan</h3>
        <p class="info">information</p>
        <p class="contact-info">
          Email: prianka_hasan@yahoo.com<br>
          Phone: (682) 220-2792
        </p>
      </div>

      <!-- Team Member 3 -->
      <div class="team-member">
        <div class="member-image">
          <img src="assets/photos/userphoto.png" alt="Team Member 3">
        </div>
        <h3>Noor Al Safaet (Papon)</h3>
        <p class="info">information</p>
        <p class="contact-info">
          Email: papon.safaet@gmail.com<br>
          Phone: (+880) 171-1187520
        </p>
      </div>

      <!-- Team Member 4 -->
      <div class="team-member">
        <div class="member-image">
          <img src="assets/photos/userphoto.png" alt="Team Member 4">
        </div>
        <h3>Shakib Hasan</h3>
        <p class="info">information</p>
        <p class="contact-info">
          Email: sakibhasan513239@gmail.com<br>
          Phone: (+880) 177-9513239
        </p>
      </div>
    </div>
  </div>

  <ng-template #checkCampaign>
  <div class="team-section" *ngIf="campaign$ | async as campaign; else defaultContact">
    <h2 class="team-title">Meet Our Team</h2>
    <div class="team-grid"></div>
    <!-- Team Member 1 -->
      <div class="team-member">
        <div class="member-image">
          <img src="assets/photos/userphoto.png" alt="Team Member 1">
        </div>
        <h3>Mehrab Monjur</h3>
        <p class="info">information</p>
        <p class="contact-info">
          Email: monjur_99@yahoo.com<br>
          Phone: {{ campaign.contact }}
        </p>
      </div>
  </div>
  </ng-template>

  <ng-template #defaultContact>
  <div class="team-section">
    <h2 class="team-title">Meet Our Team</h2>

    <div class="team-grid">
      <!-- Team Member 1 -->
      <div class="team-member">
        <div class="member-image">
          <img src="assets/photos/userphoto.png" alt="Team Member 1">
        </div>
        <h3>Mehrab Monjur</h3>
        <p class="info">information</p>
        <p class="contact-info">
          Email: monjur_99@yahoo.com<br>
          Phone: (408) 857-2217
        </p>
      </div>

      <!-- Team Member 2 -->
      <div class="team-member">
        <div class="member-image">
          <img src="assets/photos/userphoto.png" alt="Team Member 2">
        </div>
        <h3>Prianka Hasan</h3>
        <p class="info">information</p>
        <p class="contact-info">
          Email: prianka_hasan@yahoo.com<br>
          Phone: (682) 220-2792
        </p>
      </div>

      <!-- Team Member 3 -->
      <div class="team-member">
        <div class="member-image">
          <img src="assets/photos/userphoto.png" alt="Team Member 3">
        </div>
        <h3>Noor Al Safaet (Papon)</h3>
        <p class="info">information</p>
        <p class="contact-info">
          Email: papon.safaet@gmail.com<br>
          Phone: (+880) 171-1187520
        </p>
      </div>

      <!-- Team Member 4 -->
      <div class="team-member">
        <div class="member-image">
          <img src="assets/photos/userphoto.png" alt="Team Member 4">
        </div>
        <h3>Shakib Hasan</h3>
        <p class="info">information</p>
        <p class="contact-info">
          Email: sakibhasan513239@gmail.com<br>
          Phone: (+880) 177-9513239
        </p>
      </div>
    </div>
  </div>
  </ng-template>
</div>
