<div class="donation-shell">
  <div class="donation-card">

    <h2>Create Cash Donation</h2>

    <form [formGroup]="form" (ngSubmit)="submit()">

      <mat-slide-toggle formControlName="isAnonymous">
        Anonymous Donation
      </mat-slide-toggle>

      <mat-form-field appearance="outline">
        <mat-label>Full Name</mat-label>
        <input matInput formControlName="fullName" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <textarea matInput formControlName="address"></textarea>
      </mat-form-field>

      <mat-divider></mat-divider>

      <mat-form-field appearance="outline">
        <mat-label>Amount</mat-label>
        <input matInput type="number" formControlName="amount" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Notes</mat-label>
        <textarea matInput formControlName="notes"></textarea>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
        Create Donation
      </button>

    </form>

  </div>
</div>
