<ng-container *ngIf="!loading && !error && images.length > 0">
  <div class="gallery-wrapper">
    <div class="photo-grid">
      <div
        class="photo-tile"
        *ngFor="let img of images; let i = index"
        (click)="openLightbox(i)"
      >
        <img [src]="img" alt="Gallery image" />
      </div>
    </div>

    <div class="upload-section">
      <button mat-raised-button color="primary" (click)="fileInput.click()">
        <mat-icon>add_photo_alternate</mat-icon>
        Add photos
      </button>
    </div>
  </div>
</ng-container>

<div class="lightbox" *ngIf="lightboxOpen">
  <div class="backdrop" (click)="closeLightbox()"></div>

  <button class="close-btn" (click)="closeLightbox()">✕</button>

  <button class="nav left" (click)="prev()">‹</button>

  <img
    class="lightbox-image"
    [src]="images[selectedIndex]"
    alt="Expanded photo"
  />

  <button class="nav right" (click)="next()">›</button>
</div>

<input
  #fileInput
  type="file"
  accept="image/*"
  (change)="onFileSelected($event)"
  hidden
/>


