<div class="mission-container mat-typography">

  <!-- Dynamic content from campaign if exists -->
  <section *ngIf="campaign$ | async as campaign; else defaultMission" class="mission-top-row mat-elevation-z2">
    <div class="hero-left">
      <h1 class="hero-title">{{ campaign.whatFor }}</h1>
    </div>
  </section>

  <!-- Fallback/default content for root domain -->
  <ng-template #defaultMission>
    <section class="mission-top-row mat-elevation-z2">
      <div class="hero-left">
        <h1 class="hero-title">
          “Al-Mahad As-Sabur” means “The Institute for Allah [the All-Patient]”
        </h1>
      </div>
      <div class="hero-right">
        <p class="hero-text">
          Our journey to worship Allah is eternal, in this world and in Jannah...
        </p>
      </div>
    </section>
  </ng-template>

</div>
