<mat-toolbar color="primary" class="homepage-navbar mat-elevation-z4">
  <!-- <a routerLink="/" class="navbar-logo">Al-Mahad<br>As-Saboor</a> -->
  <a *ngIf="!subdomainService.isSubdomain() || subdomainService.isSpecialSubdomain()" routerLink="/"><img
      src="assets/images/mainlogo.png" height="72px" width="100px" alt="mainlogo" /></a>
  <a *ngIf="subdomainService.isSubdomain() && !subdomainService.isSpecialSubdomain()" routerLink="/"><img
      src="assets/images/default.png" height="72px" width="100px" alt="campaignlogo" /></a>

  <div class="navbar-right">
    <nav class="navbar-links">
      <a mat-button routerLink="/mission" routerLinkActive="active-link">Mission</a>
      <a mat-button routerLink="/whatwedo" routerLinkActive="active-link">Our Work</a>
      <a mat-button routerLink="/gallery" routerLinkActive="active-link">Gallery</a>
      <a mat-button routerLink="/contact" routerLinkActive="active-link">Contact</a>
    </nav>

    <button mat-raised-button color="accent" routerLink="/donate" routerLinkActive="active-link" class="donate-button">
      DONATE
    </button>
    <!-- <button *ngIf="!subdomainService.isSubdomain()" mat-raised-button color="primary" routerLink="/create-campaign" class="donate-button">
      Create Campaign
    </button> -->

    <button *ngIf="!subdomainService.isSubdomain()" mat-raised-button color="primary" class="donate-button"
      (click)="onCreateCampaignClick()">
      Create Campaign
    </button>

    <!-- <button *ngIf="!(user$ | async)" mat-raised-button color="primary" (click)="onLogin()" class="donate-button">
      Login
    </button> -->

    <button mat-raised-button color="primary" (click)="onLogin()" class="donate-button">
      Login
    </button>

    <div *ngIf="user$ | async as user" class="user-dropdown">
      <button mat-button [matMenuTriggerFor]="menu">
        {{ user.name }} ({{ user.role }})
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </div>

    <button *ngIf="subdomainService.isSubdomain() && !subdomainService.isSpecialSubdomain()" mat-raised-button
      color="primary" (click)="onEditCampaign()" class="donate-button">
      Edit Campaign
    </button>
  </div>
</mat-toolbar>

<!-- Routed page will render here -->
<router-outlet></router-outlet>