<div class="homepage-container mat-typography">

  <section class="homepage-hero mat-elevation-z2" *ngIf="subdomainService.isSpecialSubdomain(); else checkCampaign">
    <div class="hero-left">
      <h1 class="hero-title">Why Al-Mahad As-Saboor?</h1>

      <p class="hero-goals">
        <strong>Our main goals:</strong><br>
        • provide shelter and education to orphans<br>
        • spread Islamic upbringing to grow a better society<br>
        • get rid of the divide between Islamic track and mainstream track
      </p>

      <button mat-raised-button color="primary" class="mission-button">
        Mission Statement
      </button>
    </div>

    <div class="hero-right">
      <p class="hero-meaning">
        <strong>‘Al Mahad As Sabur’</strong> means <em>‘The Institute for Allah’</em>.
        <strong>Sabur</strong> refers to <em>The All-Patient</em>, one of the beautiful names of Allah Subhanahu
        wa Ta’ala.
      </p>

      <p class="hero-education">
        Children who are orphaned or needy, typically 6–18 years old, will receive a Quran-centered education.
        Through this education, students grow into individuals who understand how to please Allah and become
        leaders in society.
      </p>

      <blockquote class="hero-quote">
        “I did not create jinn and humans except to worship Me.” [51:56]
      </blockquote>
    </div>
  </section>


<ng-template #checkCampaign>
  <!-- Hero Section -->
   <section *ngIf="campaign$ | async as campaign; else defaultHome" class="homepage-hero mat-elevation-z2">
    <div class="hero-left">
      <h1 class="hero-title">Why {{ campaign.name }} ?</h1>
      <p class="hero-goals">  
        <strong>Our main goals:</strong><br>
        {{ campaign.goals }}
      </p>

      <button mat-raised-button color="primary" class="mission-button">
        Mission Statement
      </button>
    </div>

    <div class="hero-right">
      <p class="hero-meaning">{{ campaign.why }}</p>
      <p class="hero-education">{{ campaign.method }}</p>
      <blockquote class="hero-quote">
        "{{ campaign.quote }}"
      </blockquote>
    </div>
  </section>
  </ng-template>

  <ng-template #defaultHome>
  <section class="homepage-hero mat-elevation-z2">
    <div class="hero-left">
      <h1 class="hero-title">{{ 'HOME.WHY' | translate }}?</h1>

      <p class="hero-goals">  
        <strong>{{ 'HOME.GOALS' | translate }}</strong><br>
        • {{ 'HOME.SHELTER' | translate }}<br>
        • {{ 'HOME.SOCIETY' | translate }}<br>
        • {{ 'HOME.DIVIDE' | translate }}
      </p>

      <button mat-raised-button color="primary" class="mission-button">
        {{ 'HOME.STATEMENT' | translate }}
      </button>
    </div>

    <div class="hero-right">
      <p class="hero-meaning">
        <strong>{{ 'HOME.ALMAHAD' | translate }}</strong> {{ 'HOME.MEANS' | translate }} <em>{{ 'HOME.INSTITUTE' | translate }}</em>.
        <strong>{{ 'HOME.SABUR' | translate }}</strong> {{ 'HOME.REFERS' | translate }} <em>{{ 'HOME.PATIENT' | translate }}</em>, 
       {{ 'HOME.NAMES' | translate }}
      </p>

      <p class="hero-education">
        {{ 'HOME.CHILDREN' | translate }}
      </p>

      <blockquote class="hero-quote">
        {{ 'HOME.JINN' | translate }}
      </blockquote>
    </div>
  </section>
  </ng-template>
</div>
